.upage{
    background-color: wheat;
}
.about1{
    width: 700px;
    height: 700px;
    position: relative;
    left: -39px;
}
.text1{
    position: absolute;
    top:300px;
    width: 300px;
    left: 330px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1;
}
h1{
    position: absolute;
    top:200px;
    width: 300px;
    left: 350px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.middle{
    height: 700px;
    background-color: rgb(255, 255, 255);
}
.vis{
    width: 700px;
    height: 700px;
    left: 300px;
    position: absolute;
}
.vistext{
    position: absolute;
    width: 300px;
    top: 1000px;
    left: 600px;
    text-align: center;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    display: flex;
    position: absolute;
    top: 20px;
}
li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    display: inline-block;
    justify-content: center;
   
}
ul li{
    display: inline;
    margin: 10px;
    
}
ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 1000px;
}
li a:hover{
    color: rgb(137, 151, 7);
    font-size: 20px;
}

img {
    max-width: 100%;
  }
  
  /* CSS styles for the slider container */
  .slider-container {
    height: 500px;
    width: 500px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 100px;
    left: 700px;
  }
  
  /* CSS styles for the navigation menu */
  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 0.2em 1em;
  }
  .menu label:hover,
  .menu label:focus {
    background: #1c87c9;
  }
  
  /* CSS styles for the individual slides */
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
  }
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }
  
  /* CSS styles for each individual slide background */
  .slide-1 {
    background-image: url(Room1.jpg);
  }
  .slide-2 {
    background-image: url(room2.jpg);
  }
  .slide-3 {
    background-image: url(room3.jpg);
  }
.footer-content{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
.socials{
  display: flex;
  height: 200px;
  width: 300px;
  left: 10px;
  transition: ease-in-out 0.4s;
 top: 10px;
  
}
.FB{
  width: 200px;
  height: 70px;
  transition: ease-in-out 0.4s;
}
.IG{
  width: 200px;
  height: 70px;
  transition: ease-in-out 0.4s;
}
.TW{
  width: 200px;
  height: 70px;
  transition: ease-in-out 0.4s;
}
.FB:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.IG:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.TW:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.socmed{
  text-indent: -920px;
}
.descript{
  text-indent: 40%;
  width: 900px;
  color: rgb(216, 216, 216);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.numbers{
  top: -7px;
  left: 1060px;
  width: 200px;
  position: absolute;
  color: rgb(233, 218, 12);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}