*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%) , url(1pic.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    animation:change 10s infinite ease-in-out;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin-top: auto;
    margin-left: auto;
    position: relative;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.pic{
    margin: auto;
    width: 200px;
    height: 1300x;
    position: absolute;
    left: 18px;
    top: 700px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    top: -1px;
    left: 830px;
    float: left;
    display: flex;
    justify-content:center ;
    align-items: center;
    position: absolute;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color: rgb(137, 151, 7);
    font-size: 20px;
}

.search{
    width: 330px;
    float: left;
    margin-left: 250px;
}
.form{
    width: 400px;
    height: 170px;
    top: 100px;
    left: 100px;
    position: absolute;
}
.box
{
    position: absolute;
    top: 50px;
    right: 180px;
    width: 300px;
    height: 210px;
    background-color: rgba(255, 208, 0, 0.767);
    border-radius: 20px;
    padding: 20px;
}
.form input{
    width: 240px;
    height: 35px;
    transition: 0.4s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
    
}
.form input:hover{
   box-shadow:  2px 2px 4px #000000;
   
   
}
.navbox{
    position: absolute;
    top: -3px;
    right: 5px;
    width: 1678px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 20px;
}
.btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 330px;
    height: 50px;
    left: 3px;
    top: 260px;
    position:absolute;
    transition: ease-in-out 0.4s;
}
.btn:hover{
    background-color: white;
    color: black;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    top: 730px;
    left: 250px;
    position: absolute;
    color: white;
    width: 400px ;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
@keyframes change {
    0%
    {
        background-image: url(4pic.webp);
    }
    20%
    {
        background-image: url(2pic.jpg);
    }
    40%
    {
        background-image: url(3pic.jpg);
    }
    60%
    {
        background-image: url(4pic.webp);
    }
    80%
    {
        background-image: url(2pic.jpg);
    }
    100%
    {
        background-image: url(2pic.jpg);
    }
}


@media only screen and (max-width: 700px){
   .main{
    height: 3000px;
    width: 1576px;
   }
   .form{
    height: 700px;
    width: 576px;
    left: -190px;
   }
   .box{
    height: 200px;
   }
   ul{
    left :-10px;
    position: absolute;
   }
   .title{
    width: 300px;
    left: 3px;
    top: 450px;
    font-size: small;
   }
   
}
.logobox{
    position: absolute;
    top: 700px;
    left: 0px;
    width: 1280px;
    height: 213px;
    background-color: rgba(0, 0, 0, 0.767);
}
.cont1{
    width: 100px;
    height: 100px;
    top: 500px;
   
}
h1{
  position: absolute;
  display: block;
  left: -40px;
}
.oldtxt{
  position: absolute;
  left: -350px;
  top: 250px;
  display: block;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.newtxt{
    color: rgb(255, 255, 255);
    top: 10px;
  
    
}
.content_img{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}
.content_img div{
    position: absolute;
    bottom: -50px;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
.content_img:hover{
    cursor: pointer;
}
.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
}
.card1{
    width: 300px;
    height: 200px;
    top: 200px;
    position: absolute;
    transition: ease-in-out 0.4s;
}
.cardmove2{
    width: 300px;
    height: 200px;
    top: 200px;
    position: absolute;  
}
.card1:hover{
    opacity: 0;
}
.content_img2{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
    left: 100px;
}
.content_img2 div{
    position: absolute;
    bottom: -70px;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
.content_img2:hover{
    cursor: pointer;
}
.content_img2:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
}
.card2{
    width: 300px;
    height: 200px;
    top: 200px;
    position: absolute;
    transition: ease-in-out 0.4s;
}
.cardmove{
    width: 300px;
    height: 200px;
    top: 200px;
    position: absolute;  
}
.card2:hover{
    opacity: 0;
}

